{% extends 'stumanage/base.html' %}

{% block main %}
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label" col-sm-2>班级名称</label>
        <div class="clo-sm-6">
           <input class="form-control" type="text" name="cls_name" value="{{ cls.name }}">
        </div>
        <div >
            <span style="color: red">{{ error }}</span>
        </div>
    </div>
        <input class="btn btn-primary" type="submit">
    </div>
</form>


{% endblock %}