{% extends 'stumanage/base.html' %}

{% block main %}
    <table class="table table-bordered table-hover">
        <tr>
            <th>id</th>

            <th>电影海报</th>

            <th>电影名称
            <a href="?order=name&rule=u&wd={{ wd }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
             <a href="?order=name&rule=d&wd={{ wd }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
            </th>
            <th>主演演员
            <a href="?wd={{ wd }}"></a>
             <a href="?wd={{ wd }}"></a>
            </th>
            <th>上映时间
            <a href="?order=up_time&rule=u&wd={{ wd }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
             <a href="?order=up_time&rule=d&wd={{ wd }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
            </th>
            <th>电影评分
            <a href="?order=score&rule=u&wd={{ wd }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
             <a href="?order=score&rule=d&wd={{ wd }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
            </th>
        </tr>
        {% for m in movie %}
        <tr>
            <td>{{ m.id }}</td>
            <td><img src="{{ m.img }}" width="50" height="50"></td>
            <td>{{ m.name }}</td>
            <td>{{ m.actor }}</td>
            <td>{{ m.up_time }}</td>
            <td>{{ m.score }}</td>
        </tr>
            {% endfor %}
    </table>
<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
{#        上一页#}
        {% if movie.has_previous  %}
        <li>
            <a href="?pn={{ movie.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
{#        分页数字#}
        {% for num in page_nums%}
            {% if num == movie.number %}<!--当前页-->
        <li class="active"><a href="?pn={{ num }}">{{ num }}</a></li>
            {% else %}<!--非当前页-->
        <li><a href="?pn={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if movie.has_next %}
        <li>
            <a href="?pn={{ movie.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

        {% endif %}
    </ul>

</nav>

{% endblock %}